/*
 Message.css
 Platform
 
 Created by Jordan Gurrieri on 2/11/12.
 Copyright 2011 Blue Label Solutions LLC. All rights reserved.
 
 Description:	Default style for the Message HTML doc of a Feed object
                of type "Message"
 
*/

body
{
/* Default background should be the single page image found in the app bundle */
background-color:#000000;
background-image:url('page.png');
}